*{

box-sizing:border-box;

}

html,
body{

margin:0;
padding:0;

width:100%;
min-height:100%;

overflow-x:hidden;

font-family:
'Press Start 2P',
cursive;

}

/* =========================================
BODY
========================================= */

body{

background:black;

color:white;

padding-bottom:90px;

}

/* =========================================
TOPBAR
========================================= */

.topbar{

position:fixed;

top:0;
left:0;

width:100%;

height:72px;

display:flex;

justify-content:space-between;
align-items:center;

padding:0 18px;

z-index:9999;

}

/* =========================================
DESKTOP
========================================= */

#desktop{

position:relative;

display:grid;

grid-template-columns:
repeat(
auto-fit,
minmax(320px,1fr)
);

gap:28px;

padding:
110px 20px 120px;

max-width:1400px;

margin:auto;

z-index:10;

}

/* =========================================
TASKBAR
========================================= */

.taskbar{

position:fixed;

bottom:0;
left:0;

width:100%;

height:64px;

display:flex;

justify-content:space-between;
align-items:center;

padding:0 18px;

z-index:9999;

overflow:hidden;

}

/* =========================================
CLOCK
========================================= */

#clock{

font-size:11px;

white-space:nowrap;

}

/* =========================================
BUTTONS
========================================= */

button{

cursor:pointer;

font-family:inherit;

}

/* =========================================
MOBILE
========================================= */

@media(max-width:900px){

#desktop{

padding:
100px 14px 120px;

grid-template-columns:
1fr;

}

.topbar{

height:auto;

padding:14px;

flex-direction:column;

gap:10px;

}

}
