body{

margin:0;

background:black;

color:white;

font-family:
'Press Start 2P',
cursive;

overflow-x:hidden;

}

/* BOOT */

#bootScreen{

position:fixed;
inset:0;

background:black;

display:flex;
flex-direction:column;

justify-content:center;
align-items:center;

z-index:99999;

animation:
bootFade 3s forwards;

}

@keyframes bootFade{

0%,80%{

opacity:1;

}

100%{

opacity:0;
pointer-events:none;

}

}

/* TOPBAR */

.topbar{

position:fixed;

top:0;
left:0;

width:100%;

height:80px;

display:flex;

justify-content:space-between;
align-items:center;

padding:0 20px;

background:
rgba(0,0,0,.6);

backdrop-filter:blur(10px);

z-index:9999;

}

.logo{

font-size:20px;

}

/* DESKTOP */

#desktop{

padding:
120px 40px;

display:grid;

grid-template-columns:
repeat(
auto-fit,
minmax(320px,1fr)
);

gap:30px;

max-width:1500px;

margin:auto;

}

/* TASKBAR */

.taskbar{

position:fixed;

bottom:0;
left:0;

width:100%;

height:60px;

display:flex;

justify-content:space-between;
align-items:center;

padding:0 20px;

background:
rgba(0,0,0,.8);

backdrop-filter:blur(10px);

}
