#musicPlayer{

position:fixed;

top:90px;
right:18px;

width:260px;

max-width:
calc(100vw - 36px);

padding:16px;

border-radius:22px;

z-index:999;

overflow:hidden;

}

#albumArt{

width:100%;

border-radius:16px;

margin-bottom:16px;

}

#trackTitle{

font-size:10px;

margin-bottom:10px;

line-height:1.5;

}

#artistName{

font-size:8px;

opacity:.7;

margin-bottom:16px;

}

/* =========================================
VISUALIZER
========================================= */

.visualizer{

display:flex;

align-items:flex-end;

gap:4px;

height:45px;

margin-bottom:16px;

}

.visualizer span{

flex:1;

border-radius:8px 8px 0 0;

animation:
bounce 1s infinite alternate;

}

@keyframes bounce{

from{

height:10px;

}

to{

height:45px;

}

}

/* =========================================
INPUT
========================================= */

#youtubeInput{

width:100%;

padding:10px;

border-radius:12px;

margin-bottom:14px;

font-size:9px;

}

/* =========================================
BUTTONS
========================================= */

.controls{

display:flex;

gap:6px;

}

.controls button{

flex:1;

padding:10px;

font-size:9px;

border:none;

border-radius:10px;

}

@media(max-width:900px){

#musicPlayer{

position:relative;

top:auto;
right:auto;

width:100%;

margin:
20px auto 120px;

}

}
