body.theme-aero{

background:
linear-gradient(
180deg,
#7fdcff,
#dff8ff
);

font-family:
"Segoe UI",
sans-serif;

color:#003049;

}

.theme-aero .panel{

background:
rgba(255,255,255,.65);

border:
1px solid #fff;

box-shadow:
0 0 12px rgba(255,255,255,.6);

backdrop-filter:
blur(6px);

}

.theme-aero .panel-title{

background:
linear-gradient(
180deg,
#00b7ff,
#0077ff
);

color:white;

padding:8px;

}

.theme-aero button{

background:
linear-gradient(
180deg,
#c8f6ff,
#83dfff
);

}

.theme-aero #themeBackground{

background:

radial-gradient(
rgba(255,255,255,.55),
transparent 60%
);

}
