body.theme-rosalina{

background:
#060816;

font-family:
Tahoma,
sans-serif;

color:#d8f7ff;

}

.theme-rosalina .panel{

background:#13192B;

border:
2px dashed #40E0D0;

}

.theme-rosalina .panel-title{

color:#40E0D0;

font-size:12px;

}

.theme-rosalina a{

color:#40E0D0;

}

.theme-rosalina a:hover{

color:#ffe066;

}

.theme-rosalina button{

background:#13192B;

border:
1px solid #40E0D0;

color:#40E0D0;

}

.theme-rosalina #themeBackground{

background-image:

radial-gradient(
rgba(255,255,255,.9) 1px,
transparent 1px
);

background-size:
80px 80px;

opacity:.5;

}
