/* =========================================
VAPORWAVE THEME
========================================= */

body{

background:
linear-gradient(
to bottom,
#2b0038 0%,
#120018 50%,
black 100%
);

}

/* VHS */

.vhs{

position:fixed;
inset:0;

pointer-events:none;

background:
repeating-linear-gradient(
to bottom,
rgba(255,255,255,0.03),
rgba(255,255,255,0.03) 1px,
transparent 1px,
transparent 2px
);

mix-blend-mode:overlay;

z-index:99999;

}

/* SUN */

.retro-sun{

position:fixed;

top:100px;
left:50%;

transform:
translateX(-50%);

width:420px;
height:420px;

border-radius:50%;

background:
radial-gradient(
circle,
#ff77ff,
#ff4fd8,
transparent
);

filter:blur(20px);

opacity:0.5;

z-index:-1;

}

/* GRID */

.grid-floor{

position:fixed;

bottom:0;
left:0;

width:100%;
height:40%;

background-image:
linear-gradient(
rgba(255,0,255,0.2) 1px,
transparent 1px
),
linear-gradient(
90deg,
rgba(255,0,255,0.2) 1px,
transparent 1px
);

background-size:
50px 50px;

transform:
perspective(400px)
rotateX(70deg);

transform-origin:bottom;

z-index:-1;

}

/* STARS */

.stars{

position:fixed;
inset:0;

background-image:
radial-gradient(white 1px, transparent 1px);

background-size:
100px 100px;

opacity:0.3;

z-index:-2;

}
