/* =========================================
VAPORWAVE WORLD
========================================= */

body{

background:
linear-gradient(
to bottom,
#12001f 0%,
#25003d 30%,
#090010 100%
);

color:#ff9af5;

}

/* =========================================
SUN
========================================= */

.vapor-sun{

position:fixed;

top:90px;
left:50%;

transform:
translateX(-50%);

width:700px;
height:700px;

border-radius:50%;

background:

linear-gradient(
to bottom,
#ffea8a,
#ff7adf,
#ff4fd8
);

box-shadow:

0 0 120px #ff4fd8,
0 0 250px #ff7adf;

z-index:-10;

opacity:.95;

}

/* =========================================
CITY
========================================= */

.vapor-city{

position:fixed;

bottom:0;
left:0;

width:100%;
height:50vh;

background-image:url(
'https://images.unsplash.com/photo-1514565131-fce0801e5785?q=80&w=1974&auto=format&fit=crop'
);

background-size:cover;
background-position:center;

opacity:.35;

z-index:-9;

filter:

saturate(1.4)
contrast(1.2)
brightness(.8);

}

/* =========================================
GRID
========================================= */

.vapor-grid{

position:fixed;

bottom:-20%;
left:0;

width:100%;
height:70vh;

background-image:

linear-gradient(
rgba(255,0,255,.35) 2px,
transparent 2px
),

linear-gradient(
90deg,
rgba(255,0,255,.35) 2px,
transparent 2px
);

background-size:
90px 90px;

transform:
perspective(900px)
rotateX(80deg);

z-index:-8;

opacity:.45;

}

/* =========================================
STARS
========================================= */

.vapor-stars{

position:fixed;
inset:0;

background-image:

radial-gradient(
white 1px,
transparent 2px
);

background-size:
180px 180px;

opacity:.45;

z-index:-11;

}

/* =========================================
FOG
========================================= */

.vapor-fog{

position:fixed;
inset:0;

background:

radial-gradient(
circle at 50% 40%,
rgba(255,0,200,.25),
transparent 70%
);

filter:
blur(80px);

z-index:-7;

}

/* =========================================
VHS
========================================= */

.vapor-vhs{

position:fixed;
inset:0;

background-image:

repeating-linear-gradient(
to bottom,
rgba(255,255,255,.03),
rgba(255,255,255,.03) 1px,
transparent 1px,
transparent 3px
);

mix-blend-mode:screen;

opacity:.35;

animation:
vhsMove .2s infinite;

z-index:999;

pointer-events:none;

}

@keyframes vhsMove{

0%{

transform:
translateY(0px);

}

100%{

transform:
translateY(2px);

}

}
